{% extends 'base/base.html.twig' %}

{% block vue %}
    <h1>Ajouter un produit</h1>
    {{ form_start(form) }}
    {{ form_row(form.libelle, {'attr': {'placeholder': "Nom du produit"}}) }}<br>
    {{ form_row(form.prix, {'attr': {'placeholder': "Prix du produit"}}) }}<br>
    {{ form_row(form.quantite, {'attr': {'placeholder': "Quantite du produit"}}) }}<br>
    <button type="submit">
        Ajouter le produit
    </button>

    {{ form_end(form) }}


{% endblock %}