<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
    </head>
    <body>
    <h1>TP3 : {{ title }} Action</h1>
    <table>
        <tr>
            <td>year :</td><td>{{ year }}</td>
        </tr>
        <tr>
            <td>month :</td><td>{{ month }}</td>
        </tr>
        <tr>
            <td>filename :</td><td>{{ filename }}</td>
        </tr>
        <tr>
            <td>ext :</td><td>{{ ext }}</td>
        </tr>
    </table>
    <!-- {{ dump(year, month, filename, ext) }} -->
    </body>
</html>