{% extends 'Sandbox/Layouts/layout4.html.twig' %}

{% block title %}{{ parent() }} : Doctrine{% endblock %}

{% block titre_principal %}Doctrine : view{% endblock %}

{% block vue %}
    <h2>Détails du film n°{{ id }}</h2>

    <p><a href="{{ path('sandbox_doctrine_list') }}">Retour à la liste des films</a></p>

    {% if film is null %}
        <p>Le film {{ id }} n'existe pas</p>
    {% else %}
        <ul>
            <li>id : {{ film.id }}</li>
            <li>nom : {{ film.nom }}</li>
            <li>année : {{ film.annee }}</li>
            <li>en stock : {{ film.enstock ? 'oui' : 'non'}}</li>
            <li>prix : {{ film.prix }} €</li>
            <li>quantité : {{ film.quantite is null ? 'non renseigné' : film.quantite }}</li>
        </ul>
    {% endif %}
{% endblock %}