{% extends 'base/base.html.twig' %}

{% block vue %}
    <h1>Liste des Administrateurs</h1>
    <table class="table" style="border-spacing: 75px 1rem">
        <thead>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Identifiant</th>
        <th>Rôles</th>
        <th>Date de naissance</th>
        <th>Action</th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.username }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            Administrateur
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.birthday | date('d/m/Y')  }}</td>
                <td>
                    <a href="{{ path('super_admin_delete_admin', {'id' : user.id})  }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7"> Il n'y a pas d'administrateur d'inscrit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button><a href="{{ path('super_admin_registrationadmin') }}" style="color: #303030">Créer Admin</a></button>
{% endblock %}