
{% extends 'base/base-vide.html.twig' %}

{% block title %}GPUStore{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" >
    <link href="{{ asset('css/style_text.css') }}" rel="stylesheet" >
{% endblock %}


{% block body %}
    {% block header %}
        <header class="header">
            {# en fonction du role(client/admin) de l'utilisateur une image lui est donnée de même pour ceux qui ne sont pas inscrit #}
            {% if not app.user %}
                <img style="width:100%"  src="{{ asset('images/anonymous.jpg') }}" alt="anonymous">

            {% else %}
                {% for role in app.user.roles %}
                    {% if role=="ROLE_SUPER_ADMIN" %}
                    <img style="width:100%"  src="{{ asset('images/superAdmin.jpg') }}" alt="superadmin">

                    {% elseif role=="ROLE_ADMIN" %}
                        <img style="width:100%" height="100" src="{{ asset('images/admin.jpg') }}" alt="admin">

                    {% elseif role=="ROLE_CLIENT" %}
                        <img style="width:100%"  height="100" src="{{ asset('images/userTest.jpg') }}" alt="client">

                    {% endif %}
                {% endfor %}
            {% endif %}
                <nav class="nav">
                    {#Renvoie l'utilisateur à la page d'accueil#}
                    <a style="font-size: 35px;line-height: 80px;padding: 50px;font-weight: bold;" href="{{ path('site') }}" >GPUStore</a>
                    <ul>
                        {#en fonction de si on est connecté ou non, un menu s'affiche pour l'utilisateur#}
                        {% if not app.user %}
                            {{ render(controller('App\\Controller\\SiteController::routeAnonyme')) }}
                        {% else %}
                            {{ render(controller('App\\Controller\\AdminController::routeSuperAdmin')) }}
                            {{ render(controller('App\\Controller\\SiteController::routeAdmin')) }}
                            {{ render(controller('App\\Controller\\SiteController::routeUtilisateur')) }}

                            <li>
                                <a href="{{ path('security_app_logout') }}">Déconnexion</a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
    {% endblock %}
        </header>
        <div class="vue">

                {% block vue %}
                    <h1>Bienvenue sur notre site de vente de cartes graphiques !</h1>
                    {% if not app.user %}
                        <br>
                        <span>SESSION ANONYME</span>
                        <br>
                        <br>
                        <p>Vous n'êtes pas connecté sur notre site. N'hésitez pas à vous inscrire ou vous connecter afin de pouvoir consulter nos produits !</p>
                    {% else %}
                    {% for role in app.user.roles %}
                        {% if role=="ROLE_SUPER_ADMIN" %}
                            <br>
                            <span>SESSION SUPER ADMINISTRATEUR</span>
                            <br>
                            <br>
                            <p>Bonjour {{ app.user.prenom }}, prenez soins de nos admins !</p>

                        {% elseif role=="ROLE_ADMIN" %}
                            <br>
                            <span>SESSION ADMIN</span>
                            <br>
                            <br>
                            <p>Bonjour {{ app.user.prenom }}, prenez soins de nos clients !</p>

                        {% elseif role=="ROLE_CLIENT" %}
                            <br>
                            <span>SESSION CLIENT</span>
                            <br>
                            <br>
                            <p> Bonjour {{ app.user.prenom }}, N'hésite pas à regarder nos produits peut être que tu auras un coup de coeur !</p>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                {% endblock %}
        </div>
        <footer style="position: absolute;bottom: 0;left: 0;right: 0;">
            {% block footer %}
                <img style="width:100%"  height="200" src="{{ asset('images/footerTest.jpg') }}" alt="anonymous">
            {% endblock %}

        </footer>

{% endblock %}
